# physical constrain file
# assign io-pins to pin numbering of iCE40-HX1K on olimex board iCE40-HX1K-EVB
# compare to the schematic of the board and the datasheet of fpga

set_io BUT1 41	# BUT1
set_io BUT2 42	# BUT2

set_io LED1 40	# LED1
set_io LED2 51	# LED2

